/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:0px 0pt 0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 0px;

    border: 1px solid;
    border-color: #73841D #63740D #4A5612;
    background: #94c947;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
    background: -webkit-linear-gradient(top,  #94c947, #77A039);
    background: -moz-linear-gradient(top,  #94c947, #77A039);
    background: -o-linear-gradient(top,  #94c947, #77A039);
    background: linear-gradient(to bottom,  #94c947, #77A039);
    background: -ms-linear-gradient(top,  #94c947, #77A039);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c947', endColorstr='#77A039',GradientType=0 );
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 0px;
	border: 1px solid #FFF;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter tbody tr.even td {
	background-color:#FAFAFA;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
